examples/Read spreadsheet file.json
[
    {
        "id": "9d4b3531.391338",
        "type": "inject",
        "z": "82c72b22.7e2728",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 40,
        "wires": [
            [
                "1ef482ff.54be1d"
            ]
        ]
    },
    {
        "id": "1ef482ff.54be1d",
        "type": "file in",
        "z": "82c72b22.7e2728",
        "name": "read a spreadsheet file as binary buffer",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "x": 370,
        "y": 40,
        "wires": [
            [
                "58da0822.79c4a8"
            ]
        ]
    },
    {
        "id": "58da0822.79c4a8",
        "type": "book",
        "z": "82c72b22.7e2728",
        "name": "",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "8bd99783.125c38",
                "ed8b8fb2.0d17c"
            ]
        ]
    },
    {
        "id": "ed8b8fb2.0d17c",
        "type": "sheet",
        "z": "82c72b22.7e2728",
        "name": "",
        "sheetName": "Sheet1",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "f0303664.0d9938",
                "9c0ed110.bc235",
                "fe9e8ba9.f59db8"
            ]
        ]
    },
    {
        "id": "f0303664.0d9938",
        "type": "cell",
        "z": "82c72b22.7e2728",
        "name": "",
        "address": "A1",
        "dataType": "w",
        "x": 430,
        "y": 220,
        "wires": [
            [
                "99f7011e.3ecda"
            ]
        ]
    },
    {
        "id": "9c0ed110.bc235",
        "type": "sheet-to-json",
        "z": "82c72b22.7e2728",
        "name": "",
        "raw": "false",
        "range": "A1:B2",
        "header": "default",
        "blankrows": false,
        "x": 450,
        "y": 280,
        "wires": [
            [
                "4c28547e.6d566c"
            ]
        ]
    },
    {
        "id": "8bd99783.125c38",
        "type": "debug",
        "z": "82c72b22.7e2728",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload.SheetNames",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "99f7011e.3ecda",
        "type": "debug",
        "z": "82c72b22.7e2728",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "4c28547e.6d566c",
        "type": "debug",
        "z": "82c72b22.7e2728",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "fe9e8ba9.f59db8",
        "type": "debug",
        "z": "82c72b22.7e2728",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 650,
        "y": 160,
        "wires": []
    }
]